<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Live Graph Service</title>

    <!-- Bootstrap and libraries -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="color: white">Live Graph Service</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
      </div>
    </div>

    <!-- padding -->
    <div style="height: 90px"></div>

    <!-- buttons -->
    <div class="btn-group" role="group" style="padding-left: 15px">
      <button class="btn btn-default btn-lg" id="changeButton">start</button>
      <button class="btn btn-default btn-lg" id="resetButton" onclick="reset()">reset</button>
    </div>

    <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row">
        <!-- chart1 - rest, walk, fast_walk -->
        <div class="container-fluid" id="data-container"></div>
        <!-- chart2 - energy(e) -->
        <div class="container-fluid" id="data-container2"></div>
        <!-- websocket code -->
        <script src="/static/js/charts.js"></script>
        <script type="text/javascript">
          $(document).ready(function(){
            var sock = io.connect('http://localhost:8000');

            sock.on('draw', function(data){
              if($('#changeButton').html() == 'stop'){
                // get data
                rest = data['rest_time'];
                walk = data['walk_time'];
                fast_walk = data['fast_walk_time'];
                e = data['e'];
                
                // updating chart (live)
                updateChart(rest, walk, fast_walk);
                updateChart2(e);
              }
            });

            // change mode
            $('#changeButton').on('click', function(){
              // change mode: stop -> start
              if($('#changeButton').html() == 'start'){
                $('#changeButton').html('stop');
                sock.emit('change mode', {'mode': 'start'});
              }
              // change mode: start -> stop
              else{
                $('#changeButton').html('start');
                sock.emit('change mode', {'mode': 'stop'});
              }
            });
          });
        </script>
      </div>
    </div>
  </body>
</html>